<!doctype html>
<html lang="">

	<% include header %>

  <body> 
    <div class="carousel" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "speed": 250, "arrows":false}'> </div>

    <div id="sendButton" class='btn_zen'><img src="images/btn_zen.png" width="80" height="80"/></div>

    <div class='logo_zen'><img src="images/logo_zen.png"  width="50%" height="50%"/></div>

    <div class='icon_heart'><img src="images/icon_heart.png"  width="40%" height="40%"/><br/> &nbsp;&nbsp;Thank You</div>

    <div class='icon_arrow'><img src="images/icon_arrow.png"  width="40%" height="40%"/></div>

    <script id="carouselTemplate" type="text/x-handlebars-template">
			{{#each quotes}}
				<div class="carousel-card" style="display: table; background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('images/bgs/{{index}}.jpg');">
					<div style="display: table-cell; vertical-align: middle;">
		       <div>		         
	        	<p {{#if audioPath}} class="withBefore" {{else}} class="ringARandom" {{/if}}>
		      		{{text}}
		      		<span>{{author}}</span>
		      	</p>
		       </div>
		     </div>	      	
		    </div>	      	
	    {{/each}}
		</script>

		<% include footer %>
		
		<% include script %>
    
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
