<!DOCTYPE html>
<html lang="en">

<% include header %> 

<body>
 
	<div class="container">
		<div class="page-header">
			<h1>
				CRAZEN Phone <small></small>
			</h1>
		</div> 
		
		<div class="panel panel-default">
			<div class="panel-heading">Crazen</div>
			<div class="panel-body">
				<form role="form">
				  <div class="form-group">
						<label for="message">Send a message:</label>
						<input class="form-control" id="msg">
				  </div>
				  <button id="sendButton" type="button" class="btn btn-default">SEND</button>
				  <button id="speakButton" type="button" class="btn btn-default">SPEAK</button>
				</form>
			</div>
		</div>     
 
 
	</div>

	<% include footer %>

</body>

</html>