<!DOCTYPE html>
<html lang="en">

<% include header %> 

<body>
 
	<div class="container">
		<div class="page-header">
			<h1>
				CRAZEN Phone <small></small>
			</h1>
		</div> 
		<div class="panel panel-default">
			<div class="panel-heading">Crazen</div>
			<div class="panel-body">
				<form role="form">
				  <div class="form-group">
						<label for="message">Send a message:</label>
						<input class="form-control" id="msg">
				  </div>
				  <button id="sendMessage" type="button" class="btn btn-default">SEND</button>
				</form>
			</div>
		</div>     
 
 
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	
	<script src="./repository.js"></script>

	<!-- Application Javascript code -->
	<% include script %> 

</body>

</html>